@import "macchiato.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
	font-family: 'Material Design Icons','NerdFonts', FontAwesome, 'Fira Code', sans-serif;
    font-size: 13px;
}

.modules-right {
	margin: 4px;
	padding: 0 3px;
	background-color: @light-background;
	border-radius: 2rem;
}

window#waybar {
    /* background-color: #313244; old */
    background-color: @background;
    /* background-color: transparent; */
    color: @text;
    transition-property: background-color;
    transition-duration: .25s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}
/*
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces {
	margin: 4px;
	padding: 0 3px;
	background-color: @light-background;
	border-radius: 2rem;
}

#workspaces button {
	padding-top: 0px;
	padding-bottom: 0px;
	padding: 0px;
	margin: 2px;
  background-color: @ultralight-background;
  color: #cdd6f4;
  border-radius: 2rem;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*#workspaces button:hover {
    background: #585b70;
}*/

#workspaces button.focused {
    background-color: @ultralight-background;
    color: @lightblue;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#mode {
    background-color: #f38ba8;
    /* border-bottom: 3px solid #ffffff; */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
	border-radius: 2rem;
	padding-left: 8px;
	padding-right: 8px;
	margin: 2px;
    color: @text;
}

#window {
    margin: 2px;
    background-color: @light-background;
    border-radius: 2rem;
    padding-left: 8px;
    padding-right: 8px;
    /* padding: 0 6px; */
}

window#waybar.empty #window {
	background-color: transparent;
}

#clock {
    background-color: @ultralight-background;
}

#battery {
    background-color: @ultralight-background;
}

#battery.charging, #battery.plugged {
    color: @green;
    background-color: @ultralight-background;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
}

#memory {
}

#disk {
}

#backlight {
}

#network {
    background-color: @ultralight-background;
}

#network.disconnected {
    background-color: @red;
    color: @dark-text;
}

#pulseaudio {
    background-color: @ultralight-background;
    color: @text;
}

#pulseaudio.muted {
    background-color: @ultralight-background;
    color: @red;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    /* background-color: #a6e3a1; */
    background-color: @ultralight-background;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}